.inventory-page {
    position: absolute;
    width: 100%;
    height: fit-content;
    background-color: #606060;
    padding-bottom: 2rem;
}

.inventory-title {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #f9f9f9;
    margin-bottom: 1rem;
    margin-top: 1rem;
}