.inventory-grid {
    
    --cols: 5;
    display: grid;
    grid-template-columns: repeat(var(--cols), 64px);
    grid-auto-rows: 64px;
    gap: 4px;

    justify-content: center;
    align-content: start;

    .cell {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.85rem;
        color: white;

        &.empty {
            background-color: #1a1a1a;
            border: 1px solid #333;
        }

        &.occupied {
            background-color: #4a90e2;
            border: 1px solid #2a6db0;
        }
    }
}