.inventory-grid {
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;
    width: fit-content;
}

.inventory-row {
    display: flex;
    //gap: var(--inventory-cell-gap); // space between cells
}

.cell {
    width: var(--inventory-cell-size);
    height: var(--inventory-cell-size);
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.cell.empty {
    background-color: var(--inventory-empty-color);
}

.cell.occupied {
    background-color: var(--inventory-occupied-color);
}