.inventory-grid-wrapper {
    overflow-y: auto; // vertical scroll
    overflow-x: hidden; // optional: prevent horizontal scroll
    width: calc(var(--inventory-cell-size) * var(--inventory-width));
    border: 1px solid #444; // optional: visual boundary
    padding: 0; // optional padding around grid
    box-sizing: content-box;
}

.inventory-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inventory-row {
    display: flex;
}

.cell {
    width: var(--inventory-cell-size);
    height: var(--inventory-cell-size);
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.cell.empty {
    background-color: var(--inventory-empty-color);
}

.cell.occupied {
    background-color: var(--inventory-occupied-color);
}