.inventory-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--inventory-cell-gap); // space between rows
}

.inventory-row {
    display: flex;
    gap: var(--inventory-cell-gap); // space between cells
}

.cell {
    width: var(--inventory-cell-size);
    height: var(--inventory-cell-size);
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell.empty {
    background-color: var(--inventory-empty-color);
}

.cell.occupied {
    background-color: var(--inventory-occupied-color);
}