:root {
    --inventory-cell-size: 96px;
    --inventory-cell-gap: 2px;
    --inventory-empty-color: #222;
    --inventory-occupied-color: #999;
    --inventory-width: 5;
    --inventory-height: 10;
}